<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon_2.png">
    @RenderSection("AdditionalLinkCSS", required: false)
    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>
    @* Creating loading page annotaion *@
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    <div id="main-wrapper">
        @* Header navbar with logo *@
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="../images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="../images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="../images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        @* Header navbar Navbar with other part *@
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i
                                    class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard"
                            aria-label="Search Dashboard">
                        <div class="drop-down d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        @* Message *@
                        <partial name="_Message" />
                        @* <partial name="_Notification" /> *@
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2 badge-primary" id="notification-count">0</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span id="notification-title">No new notifications</span>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul id="notification-layout">
                                        <!-- Thông báo sẽ được chèn vào đây từ AJAX -->
                                    </ul>
                                </div>
                            </div>
                        </li>
                        @* Language *@
                        <partial name="_Language" />
                        @* Profile *@
                        <partial name="_Profile" />
                    </ul>
                </div>
            </div>
        </div>

        @* Sidebar part *@
        <partial name="_SideBar" />

        @* Cotent boday part *@
        <div class="content-body">
            @RenderBody()
        </div>

        @* Footer part *@
        <partial name="_Footer" />
    </div>

    @* Embled code Javascript *@
    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>
    <script src="../js/general/notification.js"></script>

    @* Embled code other Javascript with content*@
    @RenderSection("AdditionalLinkJavascript", required: false)

    @* Script is used to defined layout *@
    @* <script>
    (function ($) {
    "use strict"
    new quixSettings({
    version: "light",
    layout: "vertical",
    navheaderBg: "color_1",
    headerBg: "color_1",
    sidebarStyle: "full",
    sidebarBg: "color_1",
    sidebarPosition: "static",
    headerPosition: "fixed",
    containerLayout: "wide",
    direction: "ltr"
    });
    })(jQuery);
    </script> *@
</body>

</html>