@{
    ViewData["Title"] = "Room Service";
}
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="main-menu">
                        <ul>
                            <li><a asp-action="Home" asp-controller="HomePage">Trang chủ</a></li>
                            <li class="active"><a asp-action="RoomService" asp-controller="HomePage">Nhà trọ, phòng
                                    trọ</a></li>
                            <li><a asp-action="VideoReview" asp-controller="HomePage">Video Review </a>
                            </li>
                            <li><a asp-action="Blog" asp-controller="HomePage">News</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="top-right">
                        <div class="language-option">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> <span> Đăng nhập</span>
                            <i class="fa fa-angle-down"></i>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            nhập</a></li>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            ký</a></li>
                                </ul>
                            </div>
                        </div>
                        <a asp-area="Blog" asp-action="CreateNews" asp-controller="News" class="property-sub"><i
                                class="fa fa-plus" aria-hidden="true"></i> Đăng trọ ngay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html"><img src="/client_part/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav-logo-right">
                        <ul>
                            <li>
                                <i class="icon_phone"></i>
                                <div class="info-text">
                                    <span>Phone:</span>
                                    <p>(+84) 345 6789</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_map"></i>
                                <div class="info-text">
                                    <span>Address:</span>
                                    <p>Ho Chi Minh City</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_mail"></i>
                                <div class="info-text">
                                    <span>Email:</span>
                                    <p>phongtrotienich@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Cho thuê Nhà trọ, phòng trọ giá rẻ, mới nhất
                    </h2>
                    <div class="breadcrumb-option">
                        <a asp-action="Home" asp-controller="HomePage"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Nhà trọ, phòng trọ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Property Section Begin -->
<section class="property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="property-sidebar">
                    <h4>Tìm Kiếm Phòng Trọ</h4>
                    <form id="searchForm" class="sidebar-search" action="/room-service" method="get"
                        class="sidebar-search">
                        <select class="nice-select" style="font-size: 16px; color: #707079;" id="tinh" name="Province"
                            title="Chọn Tỉnh Thành">
                            <option value="0">Tỉnh Thành</option>
                        </select>
                        <select class="nice-select" style="font-size: 16px; color: #707079;" id="quan" name="District"
                            title="Chọn Quận Huyện">
                            <option value="0">Quận Huyện</option>
                        </select>
                        <select class="nice-select" style="font-size: 16px; color: #707079;" id="phuong" name="Town"
                            title="Chọn Phường Xã">
                            <option value="0">Phường Xã</option>
                        </select>
                        <div class="room-size-range">
                            <div class="price-text">
                                <label for="roomsizeRangeP">Size:</label>
                                <input type="text" id="roomsizeRangeP" readonly>
                            </div>
                            <div id="roomsize-range-P" class="slider"></div> <!-- Slider container -->
                        </div>
                        <div class="price-range-wrap">
                            <div class="price-text">
                                <label for="priceRangeP">Price:</label>
                                <input style="width: auto;" type="text" id="priceRangeP" readonly>
                            </div>
                            <div id="price-range-P" class="slider"></div> <!-- Slider container -->
                        </div>
                        <button type="submit" class="search-btn">Tìm Kiếm</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <h4 class="property-title">Kết Quả Được Tìm Thấy</h4>
                <div class="property-list" id="propertyList">
                    @* Render here *@
                </div>
                <div class="property-pagination">
                    @* <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a> *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Section End -->
@* Link CSS *@
@section AdditionalLinkCSS {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .sb-pic img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
        }

        /* Default pagination button */
        .custom-pagination .page-item .page-link {
            color: #2cbdb8;
            background-color: white;
            padding: 8px 15px;
            border: 1px solid #ddd;
            margin: 0;
            transition: color 0.3s ease, background-color 0.3s ease;
            text-align: center;
        }

        /* Active pagination button */
        .custom-pagination .page-item.active .page-link {
            background-color: #2cbdb8;
            color: white;
            border-color: #2cbdb8;
        }

        /* Hover effect for all buttons */
        .custom-pagination .page-item .page-link:hover {
            background-color: #2cbdb8;
            color: white;
            border-color: #2cbdb8;
        }

        /* Disabled button */
        .custom-pagination .page-item.disabled .page-link {
            color: #ddd;
            background-color: white;
            pointer-events: none;
        }

        #tinh {
            display: block !important;
            visibility: visible !important;
        }

        #quan {
            display: block !important;
            visibility: visible !important;
        }

        #phuong {
            display: block !important;
            visibility: visible !important;
        }

        .phong-tro {
            display: flex;
        }

        .phong-tro-child {
            display: block !important;
            background-color: #f4f4f4;
            font-size: 14px;
            padding: 8px;
            cursor: pointer;
            margin-bottom: 0px !important;
        }

        .phong-tro-img {
            width: 100%;
            height: 185px;
        }
    </style>
}
@* Link Javascript*@
@section AdditionalLinkJavascript {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/introduction/service_blog.js"></script>
}