@model App.Models.NewsModel.ContentNews
@{
    ViewData["Title"] = "Chi tiết Bài Viết";
}
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="main-menu">
                        <ul>
                            <li><a asp-action="Home" asp-controller="HomePage">Trang chủ</a></li>
                            <li><a asp-action="RoomService" asp-controller="HomePage">Nhà trọ, phòng trọ</a></li>
                            <li><a asp-action="VideoReview" asp-controller="HomePage">Video Review </a></li>
                            <li class="active"><a asp-action="Blog" asp-controller="HomePage">News</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="top-right">
                        <div class="language-option">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> <span> Đăng nhập</span>
                            <i class="fa fa-angle-down"></i>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            nhập</a></li>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            ký</a></li>
                                </ul>
                            </div>
                        </div>
                        <a asp-area="Blog" asp-action="CreateNews" asp-controller="News" class="property-sub"><i
                                class="fa fa-plus" aria-hidden="true"></i> Đăng trọ ngay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html"><img src="/client_part/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav-logo-right">
                        <ul>
                            <li>
                                <i class="icon_phone"></i>
                                <div class="info-text">
                                    <span>Phone:</span>
                                    <p>(+84) 345 6789</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_map"></i>
                                <div class="info-text">
                                    <span>Address:</span>
                                    <p>Ho Chi Minh City</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_mail"></i>
                                <div class="info-text">
                                    <span>Email:</span>
                                    <p>phongtrotienich@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="/client_part/img/blog/blog-details-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bd-hero-text">
                    <h2>@Model.DetailTitle</h2>
                    <ul>
                        <li><i class="fa fa-user"></i> @Model.Author.FullName</li>
                        <li><i class="fa fa-clock-o"></i> @Model.DateUpdated.ToString("dd/MM/yyyy")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Blog Details Hero Section Begin -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 offset-lg-1">
                @* <div class="blog-details-social">
                    <h6>Share</h6>
                    <div class="social-list">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div> *@
            </div>
            <div class="col-lg-10">
                @Html.Raw(Model.Content)
            </div>
        </div>
        @* <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-pic">
                    <div class="bd-pic-item small-item set-bg" data-setbg="/client_part/img/blog/blog-details-1.jpg">
                    </div>
                    <div class="bd-pic-item small-item set-bg" data-setbg="/client_part/img/blog/blog-details-2.jpg">
                    </div>
                    <div class="bd-pic-item large-item set-bg" data-setbg="/client_part/img/blog/blog-details-3.jpg">
                    </div>
                    <div class="bd-pic-item wide-item set-bg" data-setbg="/client_part/img/blog/blog-details-4.jpg">
                    </div>
                </div>
            </div>
        </div> *@
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                @* <div class="blog-more-details">
                    <h4>Fliers and business cards can be tacked.</h4>
                    <p>But before doing so, check out with the human resource department before placing the
                        information as most of the HR departments make it compulsory to consult them. Parents are
                        required to be in regular touch with the teachers to know about the progress of the child
                        and they have meetings from time to time. Do not miss this opportunity and spread the word.
                        Hand them the business card and fliers personally at the meeting, instead of just giving the
                        contact number. Get involved with fundraiser at schools, as it’s a nice approach to market
                        business. Prior to handing out the order received, collect all necessary information like
                        business card pack, fliers, with proper information. Information can be based on what is the
                        company about, what are the products and services provided, or how to get in touch with the
                        company. In each individual order, carefully place all of them and seal the package
                        properly. Presentation, too, is of importance and should be paid attention.</p>
                </div> *@
                <div class="tag-share-option">
                    <div class="tags">
                        <a href="#">Real Estate</a>
                        <a href="#">Properties</a>
                    </div>
                    <div class="social-share">
                        <span>Share:</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="comment-option">
                    <h4>2 Comments</h4>
                    <div class="single-comment-item first-comment">
                        <div class="sc-author">
                            <img src="/client_part/img/blog/comment/comment-1.jpg" alt="">
                        </div>
                        <div class="sc-text">
                            <span>27 Aug 2019</span>
                            <h5>Brandon Kelley</h5>
                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                                magnam.</p>
                            <a href="#" class="comment-btn">Like</a>
                            <a href="#" class="comment-btn">Reply</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 offset-lg-1">
                            <div class="single-comment-item reply-comment">
                                <div class="sc-author">
                                    <img src="/client_part/img/blog/comment/comment-2.jpg" alt="">
                                </div>
                                <div class="sc-text">
                                    <span>27 Aug 2019</span>
                                    <h5>Mia Maya</h5>
                                    <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet,
                                        consectetur, adipisci velit, sed quia non numquam eius modi tempora.
                                        incidunt ut labore et dolore magnam.</p>
                                    <a href="#" class="comment-btn like-btn">Like</a>
                                    <a href="#" class="comment-btn reply-btn">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-comment-item second-comment ">
                        <div class="sc-author">
                            <img src="/client_part/img/blog/comment/comment-3.jpg" alt="">
                        </div>
                        <div class="sc-text">
                            <span>27 Aug 2019</span>
                            <h5>Mike Phillips</h5>
                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                                magnam.</p>
                            <a href="#" class="comment-btn">Like</a>
                            <a href="#" class="comment-btn">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="leave-comment">
                    <h4>Leave A Comment</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                        <input type="text" placeholder="Website">
                        <textarea placeholder="Messages"></textarea>
                        <button type="submit" class="site-btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Bài Viết Liên Quan</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-blog-item">
                    <div class="sb-pic">
                        <img src="/client_part/img/blog/blog-details-also-1.jpg" alt="">
                    </div>
                    <div class="sb-text">
                        <ul>
                            <li><i class="fa fa-user"></i> Adam Smith</li>
                            <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
                        </ul>
                        <h4><a href="#">Computer users and programmers have become so accustomed to using
                                Windows.</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-blog-item">
                    <div class="sb-pic">
                        <img src="/client_part/img/blog/blog-details-also-2.jpg" alt="">
                    </div>
                    <div class="sb-text">
                        <ul>
                            <li><i class="fa fa-user"></i> Adam Smith</li>
                            <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
                        </ul>
                        <h4><a href="#">After all, Sport England has awarded Birmingham the title National City of
                                Sport.</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->



@* Link CSS *@
@section AdditionalLinkCSS {
    <style>
        .sb-pic img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
        }

        /* Default pagination button */
        .custom-pagination .page-item .page-link {
            color: #2cbdb8;
            background-color: white;
            padding: 8px 15px;
            border: 1px solid #ddd;
            margin: 0;
            transition: color 0.3s ease, background-color 0.3s ease;
            text-align: center;
        }

        /* Active pagination button */
        .custom-pagination .page-item.active .page-link {
            background-color: #2cbdb8;
            color: white;
            border-color: #2cbdb8;
        }

        /* Hover effect for all buttons */
        .custom-pagination .page-item .page-link:hover {
            background-color: #2cbdb8;
            color: white;
            border-color: #2cbdb8;
        }

        /* Disabled button */
        .custom-pagination .page-item.disabled .page-link {
            color: #ddd;
            background-color: white;
            pointer-events: none;
        }
    </style>
}
@* Link Javascript*@
@section AdditionalLinkJavascript {
    <script src="~/js/introduction/blog.js"></script>
}